.monStyle{
  background-color: #cdc0b0;
  color: red;
  padding: 10px;
  font-family: Arial;
  text-align: center;
}

.parastyle{
  color: green;
  font-family: Arial;
  font-size: 35px;
  text-align: center;
}